<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Apple event</title>
  </head>
  <body>
    <div class="jumbotron">
<!DOCTYPE html>
<html>
<body> 
<div class="container text-center">
<h2>APPLE EVENT REGISTRATION</h2>
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.apple.com/in/iphone/">buy</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          list
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/listofparticipants">participants</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

        <form method="POST" action="/register/">
            <input type="hidden" name="csrfmiddlewaretoken" value="AeuGoiM67n9Om29Awe7FwzU7E4DYa23RuLK2rskxGVQ4BTmAxYO0qkogGjSX3YUE">
            <div class="form-group">
                <label for="username">Name</label>
                <input type="text" class="form-control" name="username" id="username" aria-describedby="emailHelp"
                    placeholder="Enter your name">
            </div>            
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="text" class="form-control" name="email" id="email" aria-describedby="emailHelp"
                    placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="phone">Phone</label>
                <input type="text" class="form-control" name="phone" id="phone" aria-describedby="emailHelp"
                    placeholder="Enter your phone number">
            </div>                        
            <div class="form-group">
                <label for="institution">Institution</label>
                <input type="text" class="form-control" name="institution" id="institution" aria-describedby="emailHelp"
                    placeholder="Enter Institution Name">
            </div>                                    
            <div>
                <a class="btn btn-primary btn-lg" href="/success" role="button">Register</a>
            </div>
        </form>
    </div>
    </div>
    <div class="jumbotron">
        <div class="container text-center">
            <p>©2021 apple.inc designed by veera.</p>
        </div>
        </div>
</div> 
</form>
</body>
</html>
